table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.bb {
    border-bottom: 2px solid black;
}

.br {
    border-right: 2px solid black;
}

th, td {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    font-size: 1.125rem;
}